/__pycache__/
/build/
/dist/
/*.egg-info/

/debian/
.#*
\#*
.cache
/*.cfg
*,cover
.coverage
.coverage.*
/.coverage
/coverage.xml
docs/_build/
docs/build/
/downloads/
/*.egg
/.eggs/
/eggs/
/.env
/env/
/ENV/
/htmlcov/
/.hypothesis/
/.installed.cfg
*.log
*.manifest
*.mo
/obj/
/parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
/.pybuild/
__pycache__/
*.py[cod]
/.pytest_cache/
/sdist/
*.so
/tests/plugins/test.db
.tox/
/var/
/.venv
/venv/
/wheels/

# Debian packaging
/debian/
